<style>
  img#snapshot {
    width: 300px;
  }
</style>
<ul class="list-group">
  <li class="list-group-item">
    <label>Draw interval:</label>
    <input type="range" min="100" max="5000" step="100" ng-model="ctx.drawInterval"></input>{{ctx.drawInterval}}ms
  </li>
  <li class="list-group-item">
    <label>Transition:</label>
    <input type="range" min="0.1" max="2.0" step="0.1" ng-model="ctx.transPulseWidth"></input>{{ctx.transPulseWidth * ctx.drawInterval}}ms
  </li>
  <li class="list-group-item">
    <label>Signature width:</label>
    <input type="range" min="20" max="200" step="1" ng-model="ctx.imgSize[0]"></input>{{ctx.imgSize[0]}}
  </li>
  <li class="list-group-item">
    <label>Signature height:</label>
    <input type="range" min="20" max="200" step="1" ng-model="ctx.imgSize[1]"></input>{{ctx.imgSize[1]}}
  </li>
  <li class="list-group-item">
    <label>Signature limits:</label>
    <input type="range" min="100" max="1000" step="100" ng-model="ctx.imgLimit"></input>{{ctx.imgLimit}}
  </li>
  <li class="list-group-item">
    <label>Blank reserved</label>
    <input type="range" min="0.01" max="0.05" step="0.01" ng-model="ctx.blankArea"></input>{{ctx.blankArea * 100}}%
  </li>
  <li class="list-group-item">
    <label>Print size</label>
    <input type="range" min="1" max="10" step="0.5" ng-model="ctx.printScale"></input>{{ctx.dispSize[0] * ctx.printScale}} * {{ctx.dispSize[1] * ctx.printScale}}
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary" ng-click="ctx.connect()">connect</button>
    <button class="btn btn-normal" ng-click="ctx.simulate()">simulate</button>
    <button class="btn btn-danger" ng-click="ctx.reset()">reset</button>
    <button class="btn btn-normal" ng-click="ctx.print()">print</button>
  </li>
  <li class="list-group-item" ng-if="ctx.snapshot">
    <a target="_blank" href="{{ctx.snapshot}}"><img id="snapshot" ng-src="{{ctx.snapshot}}"></a>
  </li>
  <li class="list-group-item">
    <ul>
      <li>guests: {{ctx.stat.imgInPool || 0}}</li>
      <li>placed: {{ctx.stat.imgPlaced || 0}}</li>
      <li>failed: {{ctx.stat.imgFailed || 0}}</li>
    </ul>
  </li>
</ul>
